.item-count-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    font-family: Arial, sans-serif;
}
.counter {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
}
.counter-button {
    background-color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
}